table {
  width: 100%;
}

#head {
  color: blueviolet;
}
#amenities {
  width: 600px;
}
#amicon {
  display: flex;
  align-items: center;
  height: 30px;
}
#ws {
  border: 1.8px solid rgb(227, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  border-radius: 10px;
  height: 50px;
  color: rgb(236, 68, 22);
}
#name {
  color: red;
}
#direction {
  font-weight: 600;
  border: 1.8px solid rgb(227, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  border-radius: 10px;
  height: 50px;
}
#maxmin {
  border: 0px;
  cursor: pointer;
}
#getDirection {
  border: 1.8px solid rgb(227, 226, 226);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  border-radius: 10px;
  height: 50px;
  color: rgb(236, 68, 22);
  cursor: pointer;
}
#maxmin {
  background: none;
  font-size: larger;
}
#mapframe {
  border: 2px solid blue;
}
#bookmain {
  margin: auto;
  border: 2px solid red;
  width: 1200px;
  display: flex;
}
#bookroomdiv {
  border: 2px solid green;
  width: 800px;
}
#booksum {
  border: 2px solid yellow;
  width: 400px;
}
