<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="newYear">
        <div>
            <h1>New <span>Year</span></h1>
            <div class="react-multi-carousel-list  " dir="ltr">
                <ul class="react-multi-carousel-track "
                    style="transition: none 0s ease 0s; overflow: unset; transform: translate3d(0px, 0px, 0px);">
                    <li data-index="0" aria-hidden="false"
                        class="react-multi-carousel-item react-multi-carousel-item--active "
                        style="flex: 1 1 auto; position: relative; width: 398px;">
                        <div>
                            <div id="card"><img
                                    src="https://img.cdn.zostel.com/zostel/gallery/images/PPACzAu0TgGZoOToeONP2A/explore-cultures-offbeat-landscapes-of-sikk_hGGsKcC.jpg?h=400"
                                    alt="">
                                <div>
                                    <h1>Gangtok</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-index="1" aria-hidden="false"
                        class="react-multi-carousel-item react-multi-carousel-item--active "
                        style="flex: 1 1 auto; position: relative; width: 398px;">
                        <div>
                            <div id="card"><img
                                    src="https://img.cdn.zostel.com/zostel/gallery/images/AtvyQgcZRhuQXFz_o7H-nA/major-chilling-fascinating-mountain-views-f_7okEzfW.jpg?h=400"
                                    alt="">
                                <div>
                                    <h1>Pokhara</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-index="2" aria-hidden="false"
                        class="react-multi-carousel-item react-multi-carousel-item--active "
                        style="flex: 1 1 auto; position: relative; width: 398px;">
                        <div>
                            <div id="card"><img
                                    src="https://img.cdn.zostel.com/zostel/gallery/images/dbXRlFN5R8-sGyoUDYND9w/beaches-surfing-a-free-vibe-for-the-perfect_7c1tGV1.jpg?h=400"
                                    alt="">
                                <div>
                                    <h1>Varkala</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-index="3" aria-hidden="false"
                        class="react-multi-carousel-item react-multi-carousel-item--active "
                        style="flex: 1 1 auto; position: relative; width: 398px;">
                        <div>
                            <div id="card"><img
                                    src="https://img.cdn.zostel.com/zostel/gallery/images/qZ31rj3VTauFRKJEyStx0A/breathtaking-mountain-views-for-a-remarkabl_X9jEPVF.jpg?h=400"
                                    alt="">
                                <div>
                                    <h1>Leh</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-index="4" aria-hidden="false"
                        class="react-multi-carousel-item react-multi-carousel-item--active "
                        style="flex: 1 1 auto; position: relative; width: 398px;">
                        <div>
                            <div id="card"><img
                                    src="https://img.cdn.zostel.com/zostel/gallery/images/4EsKiY1jQX6_SH5mnl8lEA/lonavala-20220509133204.jpg?h=400"
                                    alt="">
                                <div>
                                    <h1>Lonavala</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li data-index="5" aria-hidden="true" class="react-multi-carousel-item  "
                        style="flex: 1 1 auto; position: relative; width: 398px;">
                        <div>
                            <div id="card"><img
                                    src="https://img.cdn.zostel.com/zostel/gallery/images/iMbVUJ5hRVKdK7uHEuVAYQ/house-boats-backwaters-and-canals-for-impec_8Qw54xE.jpg?h=400"
                                    alt="">
                                <div>
                                    <h1>Alleppey</h1>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul><button aria-label="Go to next slide"
                    class="react-multiple-carousel__arrow react-multiple-carousel__arrow--right "
                    type="button"></button>
            </div>
        </div>
    </div>

</body>

</html>


<div class="newYear">
    <div style="margin-top: 15px;">
        <h1>Food <span style="color: rgb(241, 88, 36);">Mixtape</span></h1>
    </div>
    <div id="slider">
        <div class="react-multi-carousel-list  " dir="ltr">
            <ul class="react-multi-carousel-track "
                style="transition: none 0s ease 0s; overflow: unset; transform: translate3d(-684px, 0px, 0px);">
                <li data-index="0" aria-hidden="true" class="react-multi-carousel-item  "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/q2_1UJRKRi-JA5URnsYlrw/a-city-of-eclectic-cultures-mounuments-and-_8br8xkb.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Kochi</h1>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-index="1" aria-hidden="true" class="react-multi-carousel-item  "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/SkZZW54OQLGE2oB7jWQqKg/the-blue-city-charms-travellers-with-rich-h_AT52qza.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Jodhpur</h1>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-index="2" aria-hidden="false"
                    class="react-multi-carousel-item react-multi-carousel-item--active "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/UWJiH32BTceUwGTTcYKFhg/immerse-in-the-grandeur-of-a-beautiful-cosm_A8LEuz6.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Mumbai</h1>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-index="3" aria-hidden="false"
                    class="react-multi-carousel-item react-multi-carousel-item--active "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/Qc8EQutIRdaCZ7DW68ya8A/the-meadows-hills-that-soothe-your-hearts-2_Yaumn8n.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Panchgani</h1>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-index="4" aria-hidden="false"
                    class="react-multi-carousel-item react-multi-carousel-item--active "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/2sebkMshRAGGtfIlFRMpgA/the-city-of-glory-great-food-and-yoga-20201_4LDGqHE.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Mysore</h1>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-index="5" aria-hidden="false"
                    class="react-multi-carousel-item react-multi-carousel-item--active "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/XaytahvmQ4-_ftorVrLJvA/aurangabad-20220127184606.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Aurangabad</h1>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-index="6" aria-hidden="false"
                    class="react-multi-carousel-item react-multi-carousel-item--active "
                    style="flex: 1 1 auto; position: relative; width: 342px;">
                    <div>
                        <div id="card"><img
                                src="https://img.cdn.zostel.com/zostel/gallery/images/pV8Zu4TVQbeSL59nrusJeA/get-spiritual-adventurous-in-this-city-by-t_xbL6gM3.jpg?h=400"
                                alt="">
                            <div>
                                <h1>Rishikesh</h1>
                            </div>
                        </div>
                    </div>
                </li>
            </ul><button aria-label="Go to previous slide"
                class="react-multiple-carousel__arrow react-multiple-carousel__arrow--left " type="button"></button>
        </div>
    </div>
</div>